@import '../../../../public/scss/variables.scss';


.container {
    max-width: 80%;
    padding: 0 15px;
    margin: 0 auto;
}
.app-page {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding-top: 3em;
	&__left {
        flex-basis: toEm(376);
        width: toEm(376);
        flex-shrink: 0;
        position: relative;
	}

	&__right {
        // flex-basis: 60%;
        flex-grow: 1;
        padding-left: 3em;
	}

}
.fixed-wrapper {
    position: fixed;
    width: toEm(376);
}
.aside {
    width: 100%;
    top: 3em;
    background-color: #f4efeb;
    padding: 2em;
    border-radius: .3em;
    border: 1px solid $border-color;
	&__login {
        margin-top: 1.5em;
        // padding-left: 1em;
        text-align: center;
        margin-right: .5em;
	}
}


.gallery {
    width: auto;
	&__item {
        margin-top: 3em;
        &:first-child {
            margin-top: 0;
        }
	}
}

.likes {
    padding: .8em 1em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid $border-color;
	&__icon {
        font-size: 1.4em;
        color: $like-en;
	}
	&__count {
        font-weight: bold;
	}
}

@media (max-width: 850px) {
    .app-page {
        flex-direction: column;
        padding-top: 0;
        &__right {
            padding-left: 0;
            margin-top: 1em;
        }
        &__left {
            flex-basis: 100%;
            width: 100%;
        }
    }
    .container {
        padding: 0;
        max-width: 100%;
    }
    .fixed-wrapper {
        position: relative;
        width: 100%;
    }
    .aside {
        padding: 1em;
    }
    .aside__login {
        margin-top: 0;
    }
}


.observeTrigger-wrapper {
    margin-top: 2em;
    // background-color: #fff;
    height: 3em;
    // border: 1px solid $border-color;
    border-radius: .3em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    &.loaded {
        .observeTrigger-wrapper__preloader {
            display: -webkit-flex !important;
            display: -ms-flex !important;
            display: flex !important;
        }
        .observeTrigger {
            display: none;
        }
    }

}
.observeTrigger-wrapper__preloader {
    display: none!important;
}
.observeTrigger{
	// width: 50%;
    height: 2em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

}
.observe-icon{
    color:#f4efeb;
    font-size: 2em;
    display: inline-block;
    transform: rotate(-90deg);
}
.observe__text {
    // text-transform: uppercase;
    font-style: italic;
    color:#f4efeb;
    font-size: 1.5em;
}
